
$border: 2px solid black;


.main {
	margin: auto;
}

.options {
	background-color: #4DD7FA;
	float: left;
	height: 380px;
	border-left: $border;
	border-bottom: $border;

}

.songs {
	margin: 0 0 0 0;
	background-color: #FEFAC0;
	border-right: $border;
	border-left: $border;
	border-bottom: $border;
}

.cards {
	height: 88px;
}

.delete {
	margin: 10px;
	float: right;
	
}

.artistinfo {
	display: inline;
	padding: 0 0 0 5px;
	margin: 0 2.5px;
}

.albuminfo {
	display: inline;
	border-left: 2px solid black;
	padding: 0 0 0 5px;
	margin: 0 2.5px;
}

.infolist:nth-child(2){
	border: none;
}

.internal {
	width:100%;
	margin: 5px 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}