header {
	background-color: #ffb4b0;
	border: 2px solid black;
	margin: 10px 0 0 0;
	height: 40px;


	ul li {
	display: inline;
	border-left: 2px solid black;
	padding: 0 0 0 5px;
	margin: 0 2.5px;
	}
}


header li:first-child {
		border: none;
	}
