@import 'header';
@import 'fieldset';
@import 'hidden';
@import 'classes';
@import 'newbox';




label {
	display: block;
}

h2 {
	color: #785616;
}

li {
	list-style-type: none;
}





#more {
	margin: 10px 43%;
	align: center;
}

#listbottom {
	background-color: #FEFAC0;
}

#checks {
	width: 50%;
	float: left;
}

#checks2 {
	width: 50%;
	float: right;
}

