@import 'header';
@import 'fieldset';
@import 'hidden';
@import 'classes';
@import 'newbox';




label {
	display: block;
}

h2 {
	color: #785616;
}

li {
	list-style-type: none;
}
legend {
	border: none;
}




#more {
	margin: 10px 43%;
	align: center;
}

#listbottom {
	background-color: #FEFAC0;
}

#checks {
	width: 50%;
	float: left;

	input {
		margin: 4px 7px;
	}
}

#checks2 {
	width: 50%;
	float: right;

	input {
		margin: 4px 7px;
	}	
}

#filter {
	margin: 5% 0 0 33%;
}

