@import 'header';
@import 'fieldset';
@import 'hidden';
@import 'classes';
@import 'newbox';




label {
	display: block;
}

h2 {
	color: #785616;
}

li {
	list-style-type: none;
}


button {
	margin: 15px 35px 15px 35px;
	padding: 0 35px;
	text-align: center;
}

#more {
	float: right;
	padding: 7px;
	margin: 5px;
}


#checks {
	width: 50%;
	float: left;
}

#checks2 {
	width: 50%;
	float: right;
}

