
.main {
	width: 70%;
	margin: auto;
}

header {
	background-color: #ffb4b0;
	border: 1px solid black;
	margin: 10px 0px;
}

header ul li {
	display: inline;
	border-left: 2px solid black;
	padding: 0 0 0 5px;
	margin: 0 2.5px;
}

header li:first-child {
	border: none;
}

label {
	display: block;
}

.options {
	background-color: #4DD7FA;
	width: 30%;
	border: 1px solid black;
	margin: 0 1px 0 0;
	float: left;
	/*height: 361.25px;*/
}

fieldset {
	border: none;
	margin:7px 0 0 0;
}

fieldset option {
	/*width: 90%;*/
}

fieldset input {
	margin: 2px 0 2px 0;
	padding: 2px 0;
}

.songs {
	float:right;
	width: 67%;
	margin: 0 0 0 0;
	background-color: #FEFAC0;
	border: 1px solid black;

}

h2 {
	color: #785616;
}

li {
	list-style-type: none;
}

.artistinfo {
	display: inline;
	padding: 0 0 0 5px;
	margin: 0 2.5px;
}

.albuminfo {
	display: inline;
	border-left: 2px solid black;
	padding: 0 0 0 5px;
	margin: 0 2.5px;
}

.infolist:nth-child(2){
	border: none;
}

button {
	margin: 15px 35px 15px 35px;
	padding: 0 35px;
	text-align: center;
}

.checks {
	width: 50%;
	float: left;
}

.checks2 {
	width: 50%;
	float: right;
}

.internal {
	width:100%;
	margin: 5px 0;
}

#more {
	float: right;
	padding: 7px;
	margin: 5px;
}

/*hidden versus active*/

.hidden {
	display: none;
}

.visible {
	display: block;
}

.inactive {
	display: none;
}

.active {
	display: block;
}

/*-----------*/

.newbox {
	background-color: lightgreen;
	width: 350px;
	margin: auto;
	border: 1px solid black;

}

.newbox input {
	display: block;
	border: 1px solid black;
	padding: 0 0 0 15px;
	margin: 10px auto;
}

.newbox label {
	display: block;
	padding: 0 0 0 150px;
	margin: 10px auto;
}

.newbox button {
	margin: 15px 35px 15px 125px;
	padding: 0 auto;
	text-align: center;
}
